
.tree-node {
  background-color: #f3f3f3;
}

button {
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #f3f3f3;
  box-shadow: 6px 12px 2px 1px rgba(10, 10, 10, 0.2);
}

.node-name {
  border: 1px solid #b8b3b3;
  padding: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 6px 12px 2px 1px rgba(10, 10, 10, 0.2);
}

.drop-above {
  border-top: 10px solid #f3f3f3;
  margin-top: -10px;
}

.drop-below {
  border-bottom: 10px solid #f3f3f3;
  margin-bottom: -10px;
}

.drop-center {
  background-color: #f3f3f3;
}
